# Admin Panel
src/utils/axiosInstance.js merge=ours
src/config.js merge=ours
src/App.js merge=ours
src/components/ManageDay.js merge=ours

# Backend
models/ImagePair.js merge=ours
app.js merge=ours

# User Panel
src/App.js merge=ours
src/utils/axiosInstance.js merge=ours
