/* Modal Base Styles */
.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  transition: background 0.2s ease-in-out;
}

.modal-overlay.hidden {
  background: transparent;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  width: 90%;
  max-width: 500px;
  height: 90vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  overflow-y: auto;
  animation: slide-up 0.4s ease-in-out;
}

.modal-content.slide-down {
  animation: slide-down 0.4s ease-in-out;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.close-icon:hover {
  color: #888888;
}

.instructions-section p {
  font-size: 16.5px;
  margin-bottom: 10px; /* Space below intro text */
}

.instructions-section ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 16px 0;
  text-align: left;
}

.instructions-section ul li {
  margin-bottom: 8px;
  line-height: 1.4;
}

.section-separator {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 8px 0; /* Reduced spacing around separators */
  width: 100%;
}

.rules-heading, .examples-section h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px; /* Reduced spacing for closer separator */
}

.example {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.example-image-container {
  width: 45%;
  text-align: center;
}

.example-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.cta-section {
  margin-top: 20px;
  text-align: center;
}

.cta-message {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.3px;
  color: #333;
}

.cta-link {
  color: #4d73af;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cta-link:hover {
  color: #365a89;
  text-decoration: underline;
}

/* Footer Styles */
.modal-footer {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}

/* Slide-up Animation */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Slide-down Animation */
@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
