/* Modal Base Styles */
.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  animation: slide-up 0.4s ease;
  height: 85vh;
  overflow-y: auto;
  font-family: 'Lato', sans-serif;
  line-height: 1.6; /* Slightly reduced line spacing */
  letter-spacing: 0.3px; /* Subtle letter spacing */
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.close-icon:hover {
  color: #888888;
}

.instructions-section ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 12px; /* Subtle spacing between list items */
}

.examples-section {
  margin-top: 20px;
}

.example {
  display: flex;
  justify-content: space-between;
  margin-top: 12px; /* Reduced spacing between sections */
}

.example-image-container {
  width: 45%;
  text-align: center;
}

.example-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.cta-section {
  margin-top: 20px;
  text-align: center;
}

.cta-message {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.3px;
  color: #333;
}

.cta-link {
  color: #4d73af;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cta-link:hover {
  color: #365a89;
  text-decoration: underline;
}


@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
